apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: backstage
  name: backstage
spec:
  client:
    clientAuthenticatorType: client-secret
    clientId: backstage
    defaultClientScopes:
    - profile
    - email
    - roles
    directAccessGrantsEnabled: true
    implicitFlowEnabled: false
    publicClient: false
    protocolMappers:
    - name: email
      protocol: openid-connect
      protocolMapper: oidc-usermodel-property-mapper
      consentRequired: false
      config:
        userinfo.token.claim: "true"
        user.attribute: email
        id.token.claim: "true"
        access.token.claim: "true"
        claim.name: email
        jsonType.label: String
    - name: email verified
      protocol: openid-connect
      protocolMapper: oidc-usermodel-property-mapper
      consentRequired: false
      config:
        userinfo.token.claim: "true"
        user.attribute: emailVerified
        id.token.claim: "true"
        access.token.claim: "true"
        claim.name: email_verified
        jsonType.label: boolean
    redirectUris:
    - https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}/oauth2/callback
    serviceAccountsEnabled: true
    standardFlowEnabled: true
  realmSelector:
    matchLabels:
      app: backstage
  serviceAccountClientRoles:
    realm-management:
    - query-groups
    - query-users
    - view-users