kind: Secret
apiVersion: v1
metadata:
  name: tpa-pgsql-user
stringData:
  dbname: tpa
  host: tpa-pgsql.{{ ocp4_workload_trusted_profile_analyzer_namespace }}.svc
  password: {{ _ocp4_workload_trusted_profile_analyzer_pgsql_password }}
  port: "5432"
  user: tpa
type: Opaque