kind: Secret
apiVersion: v1
metadata:
  name: tpa-secret
stringData:
  bombastic_api_url: https://server-{{ ocp4_workload_trusted_profile_analyzer_namespace }}.{{ openshift_cluster_ingress_domain }}
  oidc_client_id: cli
  oidc_client_secret: {{ ocp4_workload_trusted_profile_analyzer_keycloak_cli_client_secret }}
  oidc_issuer_url: https://sso.{{ openshift_cluster_ingress_domain }}/realms/{{ ocp4_workload_trusted_profile_analyzer_keycloak_realm }}
  supported_cyclonedx_version: "1.4"
type: Opaque
