---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tssc-config
  namespace: {{ ocp4_workload_trusted_software_factory_namespace }}
  labels:
    tssc.redhat-appstudio.github.com/config: "true"
data:
  config.yaml: |
{{ _tsf_config_updated | to_nice_yaml | indent(4, first=True) }}
