kind: ConfigMap
apiVersion: v1
metadata:
  name: gitlab-runner-config
  namespace: {{ ocp4_workload_gitlab_runner_namespace }}
data:
  config.toml: |-
    [[runners]]
        environment = ["STORAGE_DRIVER=vfs","BUILDAH_FORMAT=docker", "BUILDAH_ISOLATION=chroot", "KUBERNETES_SERVICE_ACCOUNT_OVERWRITE={{ ocp4_workload_gitlab_runner_service_account }}"]
        [runners.kubernetes]
            service_account = "{{ ocp4_workload_gitlab_runner_service_account }}"
            allowed_pull_policies = ["always", "if-not-present", "never"]
            pull_policy = ["if-not-present"]
            [runners.kubernetes.pod_security_context]
                run_as_non_root = false
                run_as_user = 0
            [runners.kubernetes.build_container_security_context]
                run_as_user = 0
                [runners.kubernetes.build_container_security_context.capabilities]
                    add = ["SETFCAP", "MKNOD"]
