kind: ConfigMap
apiVersion: v1
metadata:
  name: gitlab-runner-config
  namespace: {{ ocp4_workload_gitlab_runner_namespace }}
data:
  config.toml: |-
    [[runners]]
        [runners.kubernetes]
            allowed_pull_policies = ["always", "if-not-present", "never"]
            pull_policy = ["if-not-present"]
