---
- name: Get available channels from redhat-operators
  ansible.builtin.shell: |
    oc get packagemanifest {{ item.operator }} -n openshift-marketplace -o jsonpath='{.status.channels[*].name}'
  register: _channels_output

- name: Get current channel from values.yaml
  ansible.builtin.shell: |
    awk '/{{ item.subscription }}:/{flag=1} flag && /channel:/{print $2; exit}' /tmp/tssc_cli/installer/charts/tssc-subscriptions/values.yaml
  register: _current_channel_output

- name: Get default channel
  ansible.builtin.shell: |
    oc get packagemanifest {{ item.operator }} -n openshift-marketplace -o jsonpath='{.status.defaultChannel}'
  register: _default_channel_output

- name: Check if current channel exists in packagemanifest
  ansible.builtin.set_fact:
    _channel_exists: >-
      {{ _current_channel_output.stdout in _channels_output.stdout.split() }}

- name: Update channel in values.yaml using regex replace
  ansible.builtin.replace:
    path: /tmp/tssc_cli/installer/charts/tssc-subscriptions/values.yaml
    regexp: '({{ item.subscription }}:\s*\n\s*channel:\s*).*'
    replace: '\1{{ _default_channel_output.stdout }}'
  when: not _channel_exists

- name: Show updated file
  ansible.builtin.shell: |
    cat /tmp/tssc_cli/installer/charts/tssc-subscriptions/values.yaml