---
- name: List Gitlab users
  ansible.builtin.uri:
    url: "{{ _gitlab_url }}/api/v4/users?per_page=100"
    method: GET
    headers:
      PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
    validate_certs: false
    status_code: 200
  register: r_users

- name: Create development group
  ansible.builtin.uri:
    url: "{{ _gitlab_url }}/api/v4/groups"
    method: POST
    body_format: form-urlencoded
    body:
      name: development
      path: development
      visibility: public
    headers:
      PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
    validate_certs: false
    status_code: 201
  register: r_group
  retries: 100
  delay: 5
  until: r_group.status == 201

- name: Add users to development group
  when: item.username.startswith('{{ ocp4_workload_advanced_developer_suite_user_base_name }}')
  ansible.builtin.uri:
    url: "{{ _gitlab_url }}/api/v4/groups/{{ r_group.json.id }}/members"
    method: POST
    body_format: form-urlencoded
    body:
      user_id: "{{ item.id }}"
      access_level: 50
    headers:
      PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
    validate_certs: false
    status_code: 201
  register: r_group_user
  retries: 100
  delay: 5
  until: r_group_user.status == 201
  loop: "{{ r_users.json }}"
