---
- name: Make default service account admin
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'openshift-crb-tssc-rhdh-kubernetes-plugin-admin.yml.j2') | from_yaml }}"

- name: Update dh app config with ocm config
  set_fact:
    _dh_app_config: >-
      {{ _dh_app_config | combine(
        {
          'catalog': {
            'providers': {
              'ocm': {
                'default': {
                  'name': 'multiclusterhub',
                  'kubernetesPluginRef': 'rhdh-cluster',
                  'schedule': {
                    'frequency': {
                      'seconds': 10
                    },
                    'timeout': {
                      'seconds': 60
                    }
                  },
                  'owner': 'group:tssc'
                }
              }
            }
          }
        }, recursive=True)
      }}