---
- name: Wait for developer hub route
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: backstage-developer-hub
    namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
  register: r_dh_route
  retries: 120
  delay: 10
  until:
  - r_dh_route is defined
  - r_dh_route.resources is defined
  - r_dh_route.resources | length > 0

- name: Patch developer hub route with httpHeaders
  kubernetes.core.k8s:
    state: present
    api_version: route.openshift.io/v1
    kind: Route
    name: backstage-developer-hub
    namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
    merge_type: merge
    definition:
      spec:
        httpHeaders:
          actions:
            response:
            - name: Content-Security-Policy
              action:
                type: Set
                set:
                  value: "frame-ancestors *"
            - name: X-Frame-Options
              action:
                type: Delete
            request: null

- name: Retrieve gitops credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: tssc-gitops-cluster
    namespace: "{{ ocp4_workload_advanced_developer_suite_tssc_gitops_namespace }}"
  register: r_gitops_credentials
  retries: 120
  delay: 10
  until:
  - r_gitops_credentials is defined
  - r_gitops_credentials.resources is defined
  - r_gitops_credentials.resources | length > 0

- name: Retrieve acs credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: central-htpasswd
    namespace: "{{ ocp4_workload_advanced_developer_suite_acs_namespace }}"
  register: r_acs_credentials
  retries: 120
  delay: 10
  until:
  - r_acs_credentials is defined
  - r_acs_credentials.resources is defined
  - r_acs_credentials.resources | length > 0

- name: Save user information
  block:
  - name: Save user information for user access
    agnosticd_user_info:
      user: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
      data:
        openshift_admin_user: "{{ ocp4_workload_advanced_developer_suite_admin_user }}"
        openshift_admin_password: "{{ ocp4_workload_advanced_developer_suite_admin_password }}"
        rhdh_url: "{{ _dh_url }}"
        rhdh_auth: oidc
        rhdh_user: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
        rhdh_user_password: "{{ ocp4_workload_advanced_developer_suite_user_password }}"
        gitops_url: "{{ _gitops_url }}"
        gitops_admin_user: admin
        gitops_admin_password: "{{ r_gitops_credentials.resources[0].data['admin.password'] | b64decode }}"
        gitlab_url: "{{ _gitlab_url }}"
        gitlab_user: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
        gitlab_user_password: "{{ ocp4_workload_advanced_developer_suite_user_password }}"
        devspaces_url: "{{ _devspaces_url }}"
        devspaces_user: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
        devspaces_user_password: "{{ ocp4_workload_advanced_developer_suite_user_password }}"
        tpa_url: "{{ _tpa_url }}"
        tpa_user: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
        tpa_user_password: "{{ ocp4_workload_advanced_developer_suite_user_password }}"
        quay_url: "{{ _quay_url }}"
        quay_admin_user: "{{ ocp4_workload_advanced_developer_suite_quay_admin_user }}"
        quay_admin_password: "{{ ocp4_workload_advanced_developer_suite_quay_admin_password }}"
        acs_url: "{{ _acs_url }}"
        acs_admin_user: "{{ ocp4_workload_advanced_developer_suite_acs_admin_user }}"
        acs_admin_password: "{{ r_acs_credentials.resources[0].data.password | b64decode }}"
    loop: "{{ range(0, ocp4_workload_advanced_developer_suite_user_count | int) | list }}"
    loop_control:
      loop_var: n