---
- name: Find PVC with label app=demo in namespace {{ ocp4_workload_advanced_developer_suite_keycloak_namespace }}
  kubernetes.core.k8s_info:
    api_version: v1
    kind: PersistentVolumeClaim
    namespace: "{{ ocp4_workload_advanced_developer_suite_keycloak_namespace }}"
    label_selectors:
    - "postgres-operator.crunchydata.com/data=postgres"
  register: r_pvc_info

- name: Expand PVC to 5Gi using json_patch
  kubernetes.core.k8s_json_patch:
    api_version: v1
    kind: PersistentVolumeClaim
    namespace: "{{ ocp4_workload_advanced_developer_suite_keycloak_namespace }}"
    name: "{{ item.metadata.name }}"
    patch:
    - op: replace
      path: /spec/resources/requests/storage
      value: 5Gi
  loop: "{{ r_pvc_info.resources }}"

- name: Retrieve keycloak admin credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: keycloak-initial-admin
    namespace: "{{ ocp4_workload_advanced_developer_suite_keycloak_namespace }}"
  register: r_admin_credentials
  retries: 120
  delay: 10
  until:
  - r_admin_credentials is defined
  - r_admin_credentials.resources is defined
  - r_admin_credentials.resources | length > 0

- name: Set keycloak admin credentials
  ansible.builtin.set_fact:
    _keycloak_admin_username: "{{ r_admin_credentials.resources[0].data.username | b64decode }}"
    _keycloak_admin_password: "{{ r_admin_credentials.resources[0].data.password | b64decode }}"

- name: Generate keycloak access token
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/realms/master/protocol/openid-connect/token
    method: POST
    validate_certs: false
    body_format: form-urlencoded
    body:
      client_id: admin-cli
      username: "{{ _keycloak_admin_username }}"
      password: "{{ _keycloak_admin_password }}"
      grant_type: password
  register: r_keycloak_access_token

- name: Extend access token lifespan
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/master
    method: PUT
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ r_keycloak_access_token.json.access_token }}
    body:
      accessTokenLifespan: 1800
    status_code: 204

- name: Regenerate keycloak access token
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/realms/master/protocol/openid-connect/token
    method: POST
    validate_certs: false
    body_format: form-urlencoded
    body:
      client_id: admin-cli
      username: "{{ _keycloak_admin_username }}"
      password: "{{ _keycloak_admin_password }}"
      grant_type: password
  register: r_keycloak_access_token

- name: Set keycloak access token
  ansible.builtin.set_fact:
    _keycloak_access_token: "{{ r_keycloak_access_token.json.access_token }}"

- name: Configure Openshift auth
  ansible.builtin.include_tasks:
    file: ./{{ item }}
  loop:
  - setup_openshift_auth.yml
  - setup_developer_hub_oidc.yml
