---
- name: Wait for Devspaces namespace creation
  k8s_info:
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_advanced_developer_suite_devspaces_namespace }}"
  register: r_devspaces
  retries: 180
  delay: 10
  until:
  - r_devspaces.resources | length > 0

- name: Create Devspaces GitLab application
  ansible.builtin.uri:
    url: "{{ _gitlab_url }}/api/v4/applications"
    method: POST
    body_format: form-urlencoded
    body:
      name: devspaces
      redirect_uri: "{{ _devspaces_url }}/api/oauth/callback"
      scopes: api read_user read_repository write_repository sudo openid profile email
      confidential: false
    headers:
      PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
    validate_certs: false
    status_code: [201]
  register: r_devspaces_app
  retries: 60
  delay: 10
  until: r_devspaces_app.status == 201

- name: Get Keycloak client credentials
  ansible.builtin.set_fact:
    _devspaces_client_id: "{{ r_devspaces_app.json.application_id }}"
    _devspaces_client_secret: "{{ r_devspaces_app.json.secret }}"

- name: Create Devspaces oauth config for Gitlab
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'devspaces-gitlab-oauth.yml.j2') | from_yaml }}"
