---
- name: Apply CLI server deployment manifest
  kubernetes.core.k8s:
    state: present
    template: rhtas-cli-server.yml.j2
    wait: true
    wait_timeout: 300

- name: Wait for CLI server deployment to be ready
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: cli-server
    namespace: tssc-tas
  register: r_cli_deployment
  until:
    - r_cli_deployment.resources | length > 0
    - r_cli_deployment.resources[0].status.readyReplicas is defined
    - r_cli_deployment.resources[0].status.readyReplicas == 1
  retries: 30
  delay: 10