---
- name: Get admin user
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/tssc-iam/users?username={{
      ocp4_workload_advanced_developer_suite_admin_user }}
    method: GET
    validate_certs: false
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
  register: r_keycloak_admin

- name: Set password for admin
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/tssc-iam/users/{{
      r_keycloak_admin.json[0].id }}/reset-password
    method: PUT
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
    body:
      type: password
      temporary: false
      value: "{{ ocp4_workload_advanced_developer_suite_admin_password }}"
    status_code: 204

- name: Remove kubeadmin user
  when: ocp4_workload_advanced_developer_suite_remove_kubeadmin | bool
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Secret
    name: kubeadmin
    namespace: kube-system

- name: Create Openshift client
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/tssc-iam/clients
    method: POST
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
    body:
      clientId: "{{ ocp4_workload_advanced_developer_suite_openshift_keycloak_client_id }}"
      enabled: true
      redirectUris:
      - '*'
      protocol: openid-connect
      publicClient: false
      secret: "{{ ocp4_workload_advanced_developer_suite_openshift_keycloak_client_secret }}"
      serviceAccountsEnabled: true
    status_code: 201

- name: Create Openshift auth resources
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
  loop:
  - openshift-admin-crb.yml.j2
  - openshift-openid-client-secret.yml.j2
  - openshift-oauth.yml.j2

- name: Create group
  ansible.builtin.include_tasks:
    file: ./setup_keycloak_group.yml

- name: Create users
  ansible.builtin.include_tasks:
    file: ./setup_keycloak_user.yml
  vars:
    username: "{{ ocp4_workload_advanced_developer_suite_user_base_name }}{{ n + 1 }}"
    keycloak_group_id: "{{ _keycloak_group_id }}"
  loop: "{{ range(0, ocp4_workload_advanced_developer_suite_user_count | int) | list }}"
  loop_control:
    loop_var: n
