---
- name: Clone configuration repository
  ansible.builtin.git:
    accept_hostkey: true
    force: true
    repo: https://root:{{ _gitlab_root_token }}@{{ _gitlab_host }}/{{
      ocp4_workload_advanced_developer_suite_dh_catalog_locations.group }}/{{
      ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}
    dest: /tmp/{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}
    version: "{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.branch }}"
  environment:
    GIT_SSL_NO_VERIFY: "true"

- name: Configure git identity
  ansible.builtin.shell: |
    git config user.email {{ ocp4_workload_advanced_developer_suite_gitlab_root_email }}
    git config user.name {{ ocp4_workload_advanced_developer_suite_gitlab_root_user }}

- name: Fetch provision data file
  run_once: true
  ansible.builtin.fetch:
    src: /tmp/{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}/component-rhpds.yaml
    dest: /tmp/component-rhpds.yaml
    flat: true
    fail_on_missing: true

- name: Apply template provision data file
  ansible.builtin.template:
    src: /tmp/component-rhpds.yaml
    dest: /tmp/{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}/component-rhpds.yaml
    mode: "0660"
    owner: "{{ ansible_user }}"
  vars:
    ocp_apps_domain: "{{ _ocp_apps_domain }}"
    guid: "{{ guid }}"

- name: Push changes to repository
  ansible.builtin.shell: |
    git add . && git commit -m "Update file with provision data" && git push
  args:
    chdir: /tmp/{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}
  ignore_errors: true

- name: Create Gitops auth resources
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
  loop:
  - tssc-gitops-admin-crb.yml.j2

- name: Update developer hub config - set locations
  set_fact:
    _dh_app_config: >-
      {{ _dh_app_config | combine(
        {
          'catalog': {
            'locations': _dh_app_config.catalog.locations + [
              {
                'target': _location,
                'type': 'url'
              }
            ]
          }
        }, recursive=True)
      }}
  vars:
    _location: "{{ _gitlab_url }}/{{ ocp4_workload_advanced_developer_suite_dh_catalog_locations.group }}/{{
      ocp4_workload_advanced_developer_suite_dh_catalog_locations.repository }}/blob/{{
      ocp4_workload_advanced_developer_suite_dh_catalog_locations.branch }}/{{
      ocp4_workload_advanced_developer_suite_dh_catalog_locations.file }}"