---
- name: Check if helm is installed
  ansible.builtin.command: command -v helm
  register: git_helm
  ignore_errors: true

- name: Install helm if not present
  when: git_helm.rc != 0
  ansible.builtin.shell: |
    curl -LO https://get.helm.sh/helm-{{ ocp4_workload_advanced_developer_suite_helm_cli_version }}-linux-amd64.tar.gz
    tar -zxvf helm-{{ ocp4_workload_advanced_developer_suite_helm_cli_version }}-linux-amd64.tar.gz
    mv linux-amd64/helm /usr/local/bin/helm
  args:
    chdir: /tmp

- name: Install and configure prerequisites for building tssc cli
  ansible.builtin.shell: |
    dnf install make -y
    VERSION={{ ocp4_workload_advanced_developer_suite_go_version }}
    wget https://go.dev/dl/${VERSION}.linux-amd64.tar.gz
    rm -rf /usr/local/go /usr/bin/go
    tar -C /usr/local -xzf ${VERSION}.linux-amd64.tar.gz
    ln -sf /usr/local/go/bin/go /usr/bin/go
    rm -rf ${VERSION}.linux-amd64.tar.gz
    oc login --token={{ openshift_cluster_admin_token }} {{ openshift_api_url }} --insecure-skip-tls-verify
    mkdir -p /root/.kube
    cp /home/runner/.kube/config /root/.kube/config

- name: Clone tssc repository
  ansible.builtin.git:
    accept_hostkey: true
    force: true
    repo: "{{ ocp4_workload_advanced_developer_suite_tssc_cli_repo }}"
    dest: /tmp/tssc_cli
    version: "{{ ocp4_workload_advanced_developer_suite_tssc_cli_revision }}"
  environment:
    GIT_SSL_NO_VERIFY: "true"

- name: Set environment type to development
  ansible.builtin.replace:
    path: /tmp/tssc_cli/installer/charts/tssc-dh/templates/app-config-content.yaml
    regexp: '^  environment: production'
    replace: '  environment: development'

- name: Create default authentication mode
  replace:
    path: /tmp/tssc_cli/installer/charts/tssc-dh/templates/app-config-content.yaml
    regexp: '(^\s*providers:)[\s\S]*?(?=^backend:)'
    replace: |
      \1
          guest:
            dangerouslyAllowOutsideDevelopment: true
        {% raw %}
        {{- $signInPage := "" }}
        {% endraw %}

- name: Insert fix for orchestrator
  when: ocp4_workload_advanced_developer_suite_dh_orchestrator_enabled
  ansible.builtin.replace:
    path: /tmp/tssc_cli/installer/charts/tssc-dh/templates/backstage.yaml
    regexp: '^(\s*)(volumes:)'
    replace: |
      \1initContainers:
      \1  - $patch: merge
      \1    name: install-dynamic-plugins
      \1    env:
      \1      - name: MAX_ENTRY_SIZE
      \1        value: '30000000'
      \1\2

- name: Check operator channels
  ansible.builtin.include_tasks:
    file: ./check_subscriptions.yml
  loop:
  - subscription: trustedProfileAnalyzer
    operator: rhtpa-operator

- name: Build tssc cli and create config
  ansible.builtin.shell: |
    make build
    ./bin/tssc config --create
    ./bin/tssc config --get > config.yaml && ./bin/tssc config --delete
    sed -i 's/^\(\s*authProvider:\s*\)github/\1oidc/' config.yaml
    ./bin/tssc config --create config.yaml
  args:
    chdir: /tmp/tssc_cli

- name: Setup platform dependencies
  ansible.builtin.include_tasks:
    file: ./setup_platform_dependencies.yml

- name: Deploy platform
  ansible.builtin.shell: |
    cat /tmp/tssc_cli/installer/charts/tssc-subscriptions/values.yaml
    ./bin/tssc deploy
  args:
    chdir: /tmp/tssc_cli
