---
- name: Check if helm is installed
  ansible.builtin.command: command -v helm
  register: git_helm
  ignore_errors: true

- name: Install helm if not present
  when: git_helm.rc != 0
  become: true
  ansible.builtin.shell: |
    curl -LO https://get.helm.sh/helm-{{ ocp4_workload_advanced_developer_suite_helm_cli_version }}-linux-amd64.tar.gz
    tar -zxvf helm-{{ ocp4_workload_advanced_developer_suite_helm_cli_version }}-linux-amd64.tar.gz
    mv linux-amd64/helm /usr/local/bin/helm
  args:
    chdir: /tmp

- name: Clone tssc repository
  become: true
  ansible.builtin.git:
    accept_hostkey: true
    force: true
    repo: "{{ ocp4_workload_advanced_developer_suite_tssc_cli_repo }}"
    dest: "~/tssc_cli"
    version: "{{ ocp4_workload_advanced_developer_suite_tssc_cli_revision }}"
  environment:
    GIT_SSL_NO_VERIFY: "true"

- name: Set environment type to development
  become: true
  ansible.builtin.replace:
    path: ~/tssc_cli/installer/charts/tssc-dh/templates/app-config-content.yaml
    regexp: '^  environment: production'
    replace: '  environment: development'

- name: Create default authentication mode
  become: true
  replace:
    path: ~/tssc_cli/installer/charts/tssc-dh/templates/app-config-content.yaml
    regexp: '(^\s*providers:)[\s\S]*?(?=^backend:)'
    replace: |
      \1
          guest:
            dangerouslyAllowOutsideDevelopment: true
        {% raw %}
        {{- $signInPage := "" }}
        {% endraw %}

- name: Insert fix for orchestrator
  become: true
  when: ocp4_workload_advanced_developer_suite_dh_orchestrator_enabled
  ansible.builtin.replace:
    path: ~/tssc_cli/installer/charts/tssc-dh/templates/backstage.yaml
    regexp: '^(\s*)(volumes:)'
    replace: |
      \1initContainers:
      \1  - $patch: merge
      \1    name: install-dynamic-plugins
      \1    env:
      \1      - name: MAX_ENTRY_SIZE
      \1        value: '30000000'
      \1\2

- name: Build tssc cli and create config
  become: true
  ansible.builtin.shell: |
    make build
    ./bin/tssc config --create
    ./bin/tssc config --get > config.yaml && ./bin/tssc config --delete
    sed -i 's/^\(\s*authProvider:\s*\)github/\1oidc/' config.yaml
    ./bin/tssc config --create config.yaml
  args:
    chdir: ~/tssc_cli

- name: Setup platform dependencies
  ansible.builtin.include_tasks:
    file: ./setup_platform_dependencies.yml

- name: Deploy platform
  become: true
  ansible.builtin.shell: |
    ./bin/tssc deploy
  args:
    chdir: ~/tssc_cli
