---
- name: Retrieve Ingress config
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: Ingress
    name: cluster
  register: r_ingress_config

- name: Set platform dependency variables
  set_fact:
    _ocp_apps_domain: "{{ r_ingress_config.resources[0].spec.domain }}"
    _gitlab_url: https://gitlab-{{ ocp4_workload_advanced_developer_suite_gitlab_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _gitlab_host: gitlab-{{ ocp4_workload_advanced_developer_suite_gitlab_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _jenkins_url: https://jenkins-{{ ocp4_workload_advanced_developer_suite_jenkins_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _devspaces_url: https://devspaces.{{ r_ingress_config.resources[0].spec.domain }}
    _dh_url: https://backstage-developer-hub-{{ ocp4_workload_advanced_developer_suite_dh_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _gitops_url: https://tssc-gitops-server-{{ ocp4_workload_advanced_developer_suite_tssc_gitops_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _tpa_url: https://server-{{ ocp4_workload_advanced_developer_suite_tssc_tpa_namespace }}.{{
      r_ingress_config.resources[0].spec.domain }}
    _quay_host: quay-{{
      guid }}.{{ r_ingress_config.resources[0].spec.domain }}
    _quay_url: https://quay-{{
      guid }}.{{ r_ingress_config.resources[0].spec.domain }}
    _acs_url: https://central-{{
      ocp4_workload_advanced_developer_suite_acs_namespace }}.{{ r_ingress_config.resources[0].spec.domain }}

- name: Download and install RHADS
  ansible.builtin.include_tasks:
    file: ./setup_platform.yml

- name: Get developer hub environment secret
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
    name: tssc-developer-hub-env
  register: r_dh_env

- name: Get developer hub dynamic plugins config
  kubernetes.core.k8s_info:
    api_version: v1
    kind: ConfigMap
    namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
    name: tssc-developer-hub-dynamic-plugins
  register: r_dh_dyn_plg

- name: Get developer hub app config
  kubernetes.core.k8s_info:
    api_version: v1
    kind: ConfigMap
    namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
    name: tssc-developer-hub-app-config
  register: r_dh_app_config

- name: Set developer hub config facts
  set_fact:
    _dh_env: "{{ r_dh_env.resources[0] }}"
    _dh_dyn_plg: "{{ r_dh_dyn_plg.resources[0].data['dynamic-plugins.yaml'] | from_yaml }}"
    _dh_app_config: "{{ r_dh_app_config.resources[0].data['app-config.tssc.yaml'] | from_yaml }}"

- name: Configure TSSC
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  loop:
  - ./setup_keycloak.yml
  - ./setup_acs.yml
  - ./setup_gitlab.yml
  - ./setup_devspaces.yml
  - ./setup_orchestrator.yml
  - ./setup_ocm.yml
  - ./setup_jenkins.yml
  - ./setup_templates.yml
  - ./setup_showroom.yml

- name: Update dynamic plugins
  ansible.builtin.include_tasks:
    file: ./setup_developer_hub_dynamic_plugins.yml

- name: Print Developer Hub secrets and config
  debug:
    msg: "{{ item }}"
  loop:
  - "{{ _dh_env }}"
  - "{{ _dh_dyn_plg }}"
  - "{{ _dh_app_config }}"

- name: Update developer hub app config
  kubernetes.core.k8s:
    state: present
    definition:
      api_version: v1
      kind: ConfigMap
      metadata:
        namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
        name: tssc-developer-hub-app-config
      data:
        app-config.tssc.yaml: "{{ _dh_app_config | to_nice_yaml(indent=2) }}"

- name: Update developer hub secret
  kubernetes.core.k8s:
    state: present
    definition:
      api_version: v1
      kind: Secret
      metadata:
        namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
        name: tssc-developer-hub-env
      data: "{{ _dh_env.data }}"

- name: Update developer hub dynamic plugins config
  kubernetes.core.k8s:
    state: present
    definition:
      api_version: v1
      kind: ConfigMap
      metadata:
        namespace: "{{ ocp4_workload_advanced_developer_suite_dh_namespace }}"
        name: tssc-developer-hub-dynamic-plugins
      data:
        dynamic-plugins.yaml: "{{ _dh_dyn_plg | to_nice_yaml(indent=2) }}"
