---
- name: Check if helm is installed
  ansible.builtin.command: command -v helm
  register: git_helm
  ignore_errors: true

- name: Install helm if not present
  when: git_helm.rc != 0
  become: true
  ansible.builtin.shell: |
    curl -LO https://get.helm.sh/helm-{{ ocp4_workload_external_secrets_helm_cli_version }}-linux-amd64.tar.gz
    tar -zxvf helm-{{ ocp4_workload_external_secrets_helm_cli_version }}-linux-amd64.tar.gz
    mv linux-amd64/helm /usr/local/bin/helm
  args:
    chdir: /tmp

- name: Install external secrets helm chart
  ansible.builtin.shell: |
    helm repo add external-secrets {{ ocp4_workload_external_secrets_helm_repo }}
    helm install external-secrets {{ ocp4_workload_external_secrets_helm_chart }} \
    -n external-secrets --create-namespace --set installCRDs=true \
    --set securityContext.runAsUser=null \
    --set certController.securityContext.runAsUser=null \
    --set webhook.securityContext.runAsUser=null \
    --version {{ ocp4_workload_external_secrets_helm_chart_version }}
  retries: 5
  delay: 10
  register: r_external_secrets
  until: r_external_secrets is not failed

- name: Create cluster secret store of vault
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'cluster-secret-storage-vault.yml.j2') | from_yaml }}"
  retries: 60
  delay: 10
  register: r_cluster_secret_store
  until: r_cluster_secret_store is not failed
